
Frontend/linux/flutter/generated_plugin_registrant.cc
Frontend/linux/flutter/generated_plugin_registrant.h
Frontend/linux/flutter/generated_plugins.cmake
Frontend/macos/Flutter/GeneratedPluginRegistrant.swift
Frontend/windows/flutter/generated_plugin_registrant.cc
Frontend/windows/flutter/generated_plugin_registrant.h
Frontend/windows/flutter/generated_plugins.cmake
.vscode/extensions.json
.vscode/settings.json
.vscode/launch.json
Frontend/pubspec.lock
gitflow.png
Frontend/macos/Podfile
Frontend/macos/Podfile.lock
Frontend/macos/Runner.xcodeproj/project.pbxproj
Frontend/macos/Runner.xcworkspace/contents.xcworkspacedata
Frontend/macos/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Frontend/supabase
Frontend/macos/Runner.xcodeproj/project.pbxproj
Frontend/ios/Podfile.lock

.DS_Store
.idea
Frontend/ios/Podfile.lock
Frontend/ios/Runner.xcodeproj/project.pbxproj
Frontend/ios/Runner/Info.plist
Frontend/pubspec.lock
Frontend/ios/Runner.xcodeproj/project.pbxproj
